<% extend('../layouts/dashboard-layout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="btn-group w-100">
      <a href="#" class="btn btn-outline-secondary w-100 rounded-0 active"
        >已發佈</a
      >
      <a href="#" class="btn btn-outline-secondary w-100 rounded-0">草稿</a>
      <a href="/dashboard/article/create" class="btn btn-primary">新增文章</a>
    </div>

    <div class="card my-3">
      <h4 class="card-header">補充課程：Sass 與 includePaths</h4>
      <div class="card-body">
        [程式][PHP] HTML
        表單(Form)以陣列(Array)方式傳遞&lt;input&nbsp;type=&#39;text&#39;&gt;資訊。
        什麼時候會用到這樣的方法，我無法明確表達，可能要靠你自己想像。
        我遇到的狀況是要讓user不斷的新增商品與價格。 第一種做法：&nbsp;.....
        <div>
          <span class="fa fa-clock-o"></span>
          2018/01/04 ,
          <span class="fa fa-folder-open-o"></span>
          <span> 沒有分類 </span>
        </div>
      </div>
      <div class="card-footer p-0 btn-group">
        <a
          href="#"
          class="btn btn-outline-danger rounded-0 deletePost"
          data-id="-L1zrsyiWCAbMQ5x8Plk"
          data-title="補充課程：Sass 與 includePaths"
          >刪除</a
        >
        <a href="#" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>

        <a
          href="#"
          target="_blank"
          class="btn btn-outline-secondary w-100 rounded-0"
          >預覽</a
        >
      </div>
    </div>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="/dashboard/archives" tabindex="-1">Previous</a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="/dashboard/archives"> 1 </a>
    </li>

    <li class="page-item">
      <a class="page-link" href="/dashboard/archives"> 2 </a>
    </li>

    <li class="page-item">
      <a class="page-link" href="/dashboard/archives">Next</a>
    </li>
  </ul>
</nav>
